
.downloads__card2__outer{
    height: fit-content;
    width:280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.downloads__card2__img{
    width: 200px;
    height: 150px;
}
.downloads__card2__img__outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: 2px solid #374E91;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    margin-top:1rem;
    margin-bottom: 0.2rem;
    padding: 2rem;
}

.downloads__card2__data{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 1rem;
}

.downloads__card2__button__outer{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.downloads__card2__button__inner{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #0AB1EE;
    text-transform: capitalize;
    border-radius: 20px;
    color: #FFFFFF;
  
}

.downloads__card2__size{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-transform: capitalize;

    color: black;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    
}