


.navbar__outer{
    width:100%;
    height:7rem;
    position: fixed;
    z-index: 100;
    transition: 0.4s;
    background:linear-gradient(0deg, rgba(9,9,121,0) 35%, rgba(47,49,50,1) 100%);
}
.navbar__inner{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__left{
    width:7rem;
    height:80%;
    margin-left: 5rem;
    transition: 0.4s;
}
.navbar__logo{
    width:100%;
    height:100%;
    transition: 0.4s;
}




.navbar__right{
    width:fit-content;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5rem;
}
.navbar__right__icon{
    width:2.6rem;
    height:1.5rem;
    transition: 0.4s;
}
.navbar__icon{
    width:100%;
    height:100%;
    cursor: pointer;
}

.navbar__right__search{

    width:fit-content;
    height:fit-content;
    padding-left: 20px;
}
.navbar__search__field{
    width:16rem;
    height:1.7rem;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
    border:none;
    outline:none;
    background: #fff url("./../../assets/image/navbar_img/navbar_searchicon_img.svg") no-repeat;
    background-position: 93%; 
}

.navbar__right__select{
    width:6rem;
    padding: 5px;
    height:90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__language__select{
    width:100%;
    height:2rem;
    padding-left: 4px;
    
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
}
.navbar__language__option{
    color: white;
    border-radius: 20px;
    color: black;
    background-color: white;

}
















@media screen and (max-width:1024px)
{
    .navbar__right{
        margin-right: 1rem;
    }
}

@media screen and (max-width:730px)
{
    .navbar__right__search{
        display: none;
    }
    .navbar__right__select{
        display: none;
    }
    .navbar__right__icon{
        margin-right: 1rem;
    }
    .navbar__left{
        width:5rem;
        height:60%;
        margin-left: 2rem;
        transition: 0.4s;
    }
}