.event__outer{
    width:100%;
    height:fit-content;
}
.event__inner{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.event__inner__inner{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.event__inner__section1{
    width:100%;
    height:38rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1rem;
}
.event__inner__section1__img{
    width:100%;
    height:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #374E91;
    background-image: url('./../../assets/image/stories_img/background_img.svg');
}
.event__inner__section1__inner{
    width:90%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.event__inner__section1__inner__left{
    width:fit-content;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-transform: capitalize;
    color: #374E91;
    position: relative;
}




.event__inner__section2{
    width:90%;
    height:fit-content;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.event__inner__section2__left{
    width:70%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.event__inner__section2__left__panel{
    width:100%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.event__inner__section2__left__panel__field{
    min-width:13rem;
    padding:10px;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
    background-color: #C9C9C9;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.event__inner__section2__left__panel__fieldinn{
    background-color: #00000000;
    border:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    outline: none;
}
.event__inner__section2__button{
    width:fit-content;
    padding: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 10px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #0AB1EE;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


@keyframes errDisplayOut {
    0%{
        opacity: 1;
        height: 10rem;
    }
    100%{
        opacity: 0;
        height: 1rem;
    }
}
.event__wronddata__modale{
    width:100%;
    height:10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    z-index: -10;
    animation-name: errDisplayOut;
    transform: 1s;
}
.event__wronddata__modale__text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-transform: capitalize;
    color: rgb(255, 68, 0);
    border:3px solid rgb(255, 68, 0);
}
.event__wronddata__modale__text__img{
    width:40px;
    height:40px
}








.event__inner__section2__left__display{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.event__inner__left__bottom__panel{
    width:100%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.event__inner__left__bottom__panel__left{
    width:40px;
    height:40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #374E91;
    cursor: pointer;
}
.event__inner__left__bottom__panel__line{
    width:20%;
    height:1px;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: grey;
}
.event__inner__left__bottom__panel__page{
    width:8rem;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event__inner__left__bottom__panel__page__each{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
}
















@media screen and (min-width:1500px)
{
    .event__inner__inner{
        width:90%;
    }
}

@media screen and (min-width:1700px)
{
    .event__inner__inner{
        width:80%;
    }
}

@media screen and (min-width:2000px)
{
    .event__inner__inner{
        width:70%;
    }
}


@media screen and (min-width:2100px)
{
    .event__inner__inner{
        width:65%;
    }
}

@media screen and (min-width:2462px)
{
    .event__inner__inner{
        width:55%;
    }
}
@media screen and (max-width:1330px)
{
    .event__inner__section1{
        height:30rem;
    }
}
@media screen and (max-width:1030px)
{
    .event__inner__section1{
        height:20rem;
    }
}

@media screen and (max-width:1361px)
{
    .event__inner__section2__left__panel{
        width:90%;
        height:fit-content;
        justify-content:center;
        flex-wrap: wrap;
    }
    .event__inner__section2__button{
        margin: 1rem;
    }
}
@media screen and (max-width:1024px)
{
    .event__inner__section2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .event__inner__section2__left{
        width:100%;
        margin-bottom:3rem;
    }
    .event__inner__section2__left__panel{
        width:300px;
    }
    .event__inner__section2__left__panel__field{
        margin: 1rem;
    }
}

@media screen and (max-width:693px)
{
    .event__inner__section2__left__display{
        width:100%;
        align-items: center;
        justify-content: center;
    }
}
