.WomenLeaderShipCard2__outer{
    height: fit-content;
    width: 23rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 20px;
    background-color: #D9D9D9;
    cursor: pointer;
}
.WomenLeaderShipCard2__outer:hover{
    transform: scale(1.03);
    transition-duration: 0.4s;
}
.WomenLeaderShipCard2__head{
   border-top-left-radius: 20px ;
   border-top-right-radius: 20px;
    height: 7rem;
    width: 100%;
    background-color:#293B57;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

}

.WomenLeaderShipCard2__head_img{
    padding-right: 1rem ;
    padding-bottom: 0.2rem;
    height: 40px;
    width: 40px;

}

.WomenLeaderShipCard2__bottom{
    padding: 1rem 0rem 2rem 0rem;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    /* background-color: #D9D9D9; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WomenLeaderShipCard2__bottom__title{
        
    padding-bottom: 0.5rem;
    height: fit-content;
    width: 80%;
    margin-bottom: 1rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;


    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.77);
}

.WomenLeaderShipCard2__bottom__info{
    
    height: fit-content;
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* or 150% */
    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    
    color: rgba(0, 0, 0, 0.7);
}














@media screen and (max-width:1254px)
{
    .WomenLeaderShipCard2__outer{
        width:320px;
    }
    .WomenLeaderShipCard2__bottom__title{
        font-weight: 800;
        font-size: 25px;
    }
    .WomenLeaderShipCard2__bottom__info{
        font-weight: 500;
        font-size: 18px;
    }
}


@media screen and (max-width:1023px)
{
    .WomenLeaderShipCard2__outer{
        width: 22rem;
        margin:2rem;
    }
}
@media screen and (max-width:841px)
{
    .WomenLeaderShipCard2__outer{
        width: 70%;
    }
    
}
@media screen and (max-width:606px)
{
    .WomenLeaderShipCard2__outer{
        width: 100%;
    }
    
}
@media screen and (max-width:425px)
{
    .WomenLeaderShipCard2__outer{
        width:320px;
    }
    .WomenLeaderShipCard2__bottom__title{
        font-weight: 800;
        font-size: 20px;
    }
    .WomenLeaderShipCard2__bottom__info{
        font-weight: 500;
        font-size: 14px;
    }
    .WomenLeaderShipCard2__head{
        height: 5rem;
    }
     
}
